<!DOCTYPE html>

<html>

<head>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <!--For partials you need the > sign-->
    {{>header}} 
    <p>
        {{>404}}
    </p>
</body>

</html>