<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
        <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        <!--For partials you need the > sign-->
        {{>header}} 
        <p>{{helpMsg}}</p>
</div>
            {{>footer}} 
</body>

</html>